<%- include("00header.ejs") %>


<h3>吳盈瑩</h3>
<div class="list">
    擁有三年捷運工程專案管理經驗，<b>注重依數據分析專案進度及品質，持續學習不同專業以解決現有衝突</b>，擁有良好的溝通協調、風險應變以及專案管理能力。</div>
<hr/>
<div id="title" >關於我</div>
<ul class="list">
    <li><i>ʙᴇᴛᴛᴇʀ ᴛʜᴇɴ ʏᴇsᴛᴇʀᴅᴀʏ</i></li>
    <li><sub>⛰️</sub>ᴛʀᴀᴠᴇʟᴇʀ</li>
    <li><sub>🌊</sub>ᴅɪᴠᴇʀ</li>
    <li><sub>🍹</sub>ʙᴀʀᴛᴇɴᴅᴇʀ</li>
    <li><sub>📷</sub> ᴘʜᴏᴛᴏɢʀᴀᴘʜᴇʀ</li>
    <li><a href="/somewhere"><small>portfolio: The bar - Somewhere</small></a></li>
</ul>
<div id="title" >工作經驗</div>
<table class="tablewords">
    <tr class="tabletitle" >
        <td>年份</td>
        <td>執掌</td>
        <td>地區</td>
    </tr>
    <tr>
        <td>now ~ 2024/1</td>
        <td>自學程式
            <li>線上課程自學 : 利用線上課程和ChatGPT同步構築基礎觀念及實作，提升學習效率。</li>
            <li>技能樹學習 : 從工程師roadmap中逐一學習技能樹，打好基礎，避免觀念不完善或有遺漏。</li>
            <li>leetcode練習 : 23題Easy題型，2題Medium題型</li>
            <li>freecodecamp : Responsive Web Design Certification 完成</li>
            <li>freecodecamp : JavaScript Algorithm and Data Structures Certification 進行中</li>
            <li>MySQL學習進行中</li>
        </td>
        <td>Taoyuan</td>
    </tr>
    <tr>
        <td>2022/10 ~ 2019/4</td>
        <td>
            <li>負責客戶端及西門子公司、現代樂鐵公司間溝通協調，整合8個捷運機電系統的作業需求，<b>學習各系統專業協</b>助處理產品全生命週期產生的介面衝突及問題</li>
            <li>規劃控制專案進度、品質以符合契約，在專案初期設定設計、製造、安裝驗收的排程，<b>量化契約完成度並控制進度</b>，在疫情影響期間使各系統進度維持在預定進度80~120%之間，達成契約規定規格100%</li>
            <li>編列各年度預算並管控執行效率，在疫情影響期間維持預算執行率80~120%之間</li>
            <li><b>標準化重複性作業</b>，透過統整資料規律撰寫統一範本，減少日常重複作業時間約40%</li>
            <li>確保產品設計及製造滿足可靠度及可用度要求，執行整體測試及驗收</li>
        </td>
        <td>Taipie</td>
    </tr>
    <tr>
        <td>2018/6 ~ 2017/9</td>
        <td>國立中央大學 營建工程管理研究所</td>
        <td>Taoyuan</td>
    </tr>
    <tr>
        <td>2017/6 ~ 2013/9</td>
        <td>國立中央大學 統木工程系</td>
        <td>Taoyuan</td>
    </tr>
    
</table>
<ul class="list">
    <li>英文 : busniess level</li>
    <li>程式語言 : Python、JavaScript、HTML5、CSS3</li>
    <li>資料分析工具 : Pandas</li>
    <li>後端框架 : Flask、Node.js express</li>
    <li>資料庫管理 : MongoDB</li>
    <li>版本控制 : Git、GitHub</li>

<%- include("99footer.ejs") %>