<%- include("header.ejs") %>

<div class="background">
    <div class="menu">MENU</div>
    <div class="cocktail">SIGNATURE
        <div class="content">Fall Down</div>
        <div class="content">Grandma's TeaPot</div>
        <div class="content">27years Old</div>
        <div class="content">Mature Grapes</div>
        <div class="content">Autumn is Coming</div>
        <div class="content">Purple Smash</div>
        <div class="content">Memoery</div>
        <div class="content">The Burned ExamPaper</div>
        <div class="content">The First Chocolate</div>
        <div class="content">After Lunch</div>
    </div>
    <div class="cocktail">CLASSICAL
        <div class="content">VODKA
            <div class="item">Cosmopolitan</div>
            <div class="item">SexintheBeach</div>
            <div class="item">LongIsland</div>
        </div>
        <div class="content">GIN
            <div class="item">Gimlet</div>
            <div class="item">Martini</div>
            <div class="item">Negroni</div>
        </div>
        <div class="content">RUM
            <div class="item">Daiquiri</div>
            <div class="item">Mojido</div>
            <div class="item">Zombie</div>
        </div>
    </div>
    <div class="cocktail">...
        <div class="content">TEQUILA
            <div class="item">Margarita</div>
            <div class="item">MexicoMule</div>
            <div class="item">ElDiablo</div>
        </div>
        <div class="content" >BRANDY
            <div class="item">Sidecar</div>
            <div class="item">BetweentheSheets</div>
            <div class="item">CorpseReviver#1</div>
        </div>
        <div class="content">WHISKEY
            <div class="item">OldFashion</div>
            <div class="item">Manhattan</div>
            <div class="item">Pencillin</div>
    </div>
    </div>
    <div class="cocktail">SHOT
        <div class="content">Seeds</div>
        <div class="content">Hurricane</div>
        <div class="content">Hardvast</div>
    </div>
</div>
<form action="./">
    <button>回首頁 Home page</button>
</form>

<%- include("footer.ejs") %>